* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    background-color: #CCCCFF;
    font-family: 'Sulphur Point', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.temperature-description {
    font-size: 20px;
}